API : A sigla vem de "Interface de Programação de Aplicativos" e a informação vem de um servidor Web, então toda a informação
        vem da internet (nós vamos usar os dados do "yahoo" finance no decorrer das aulas) o Pandas DataReader vai nos ajudar 
        a acessar esses dados

CSV : A Sigla vem de "Valor Separado por Vírgula" e não precisa de internet para ser acessado

In [1]:
import numpy as np
import pandas as pd

In [2]:
serie = pd.Series(np.random.random(7), name = 'coluna 01')

In [3]:
serie

0    0.310716
1    0.685141
2    0.765450
3    0.489478
4    0.678474
5    0.608548
6    0.700594
Name: coluna 01, dtype: float64

In [5]:
serie[4]

0.6784738943277936

In [6]:
from pandas_datareader import data as wb

In [7]:
PETR4 = wb.DataReader('PETR4.SA',data_source='yahoo', start='2010-1-1')

In [8]:
PETR4

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  37.320000  36.820000  36.950001  37.320000  13303600.0  31.196165
2010-01-05  37.430000  36.799999  37.380001  37.000000  21396400.0  30.928682
2010-01-06  37.500000  36.799999  36.799999  37.500000  18720600.0  31.346632
2010-01-07  37.450001  37.070000  37.270000  37.150002  10964600.0  31.054062
2010-01-08  37.389999  36.860001  37.160000  36.950001  14624200.0  30.886881
...               ...        ...        ...        ...         ...        ...
2020-09-04  23.030001  22.580000  23.000000  22.920000  52351100.0  22.920000
2020-09-08  22.500000  21.910000  22.500000  22.260000  74490200.0  22.260000
2020-09-09  22.770000  22.490000  22.490000  22.730000  42143500.0  22.730000
2020-09-10  22.580000  22.110001  22.580000  22.120001  58350000.0  22.120001
2020-09-11  22.170000  21.790001  22.120001  21.830000  14875800.0  21.830000

[2615 rows x 6 columns]