## Como Importar e Organizar seus Dados - Parte I


* Seguem as respostas sugeridas (geralmente, existem várias maneiras de resolver um problema em Python). *


 A. (* Desafio! *) Crie um objeto de série de 10 valores inteiros gerados aleatoriamente.

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.randint(10, size = 10, dtype = 'int'), name = "Coluna 01")

In [3]:
ser

0    2
1    7
2    3
3    9
4    5
5    3
6    6
7    9
8    6
9    9
Name: Coluna 01, dtype: int32

B. Extraia os dados da yahoo para a Vale S.A. de 1º de janeiro de 2015 até o dia atual. O ticker de que você precisa é ‘VALE3.SA’.

In [6]:
from pandas_datareader import data as wb

In [8]:
Vale = wb.DataReader('VALE3.SA', data_source='yahoo', start='2015-1-1')

In [9]:
Vale

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-02  21.950001  21.059999  21.700001  21.280001   5658400.0  17.994938
2015-01-05  21.129999  20.510000  20.760000  20.959999   8603000.0  17.724333
2015-01-06  22.129999  21.070000  21.070000  21.799999   9879900.0  18.434660
2015-01-07  22.809999  21.969999  22.320000  22.600000   6130900.0  19.111164
2015-01-08  22.879999  22.110001  22.770000  22.840000   4667300.0  19.314112
...               ...        ...        ...        ...         ...        ...
2020-09-01  61.790001  60.200001  60.290001  61.759998  24197700.0  61.759998
2020-09-02  62.340000  60.320000  61.900002  61.320000  21797200.0  61.320000
2020-09-03  60.549999  58.849998  60.000000  59.320000  36117400.0  59.320000
2020-09-04  60.500000  58.700001  59.709999  60.490002  26636700.0  60.490002
2020-09-08  59.759998  58.959999  59.590000  59.330002  10357700.0  59.330002

[1412 rows x 6 columns]