## Números e Valores Booleanos


Crie uma variável igual a "True".

In [2]:
7==7

True

Verifique seu tipo (função 'type').

In [4]:
a = 7
type(a)

int

Crie uma variável igual a 42.

In [6]:
a = 42
print (a)

42

Verifique seu tipo (função 'type').

In [7]:
type(a)

int


Verifique o tipo do valor 0,84.

In [10]:
b = 0.84
type(b)

float

Transforme o 42 em um.*float*.

In [11]:
c = 42.0
type(c)

float


Transforme 0,84 em um número inteiro. Qual valor você obteve?

In [12]:
int(0.84)

0